body{
  margin: 0 auto;
  max-width: 1190px;
  font-size: 12px;
  background: #f0f3ef;
}

a{
  color: #666;
  text-decoration: none;
  &:hover{
    color: #e33333;
  }
}

.nav-top {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #999;
  background: #e3e4e5;
  border-bottom: 1px solid #ddd;

  ul {
    display: inline-block;
    height: 30px;
    margin: auto 0;
    li {
      display: inline-block;
      padding-left: 7px;
      padding-right: 7px;
    }

    .nav-separator{
      overflow:hidden;
      margin: 10px 5px 0;
      width: 1px;
      height: 10px;
      background: #ccc;
      padding: 0;
    }
  }

  a{
    color: #999;
    &:hover{
      color: #e33333;
    }
  }

  .nav-register{
    color: #f10215;
  }
  .nav-location{
    margin-left: 200px;
  }
  .nav-user{
    float: right;
  }
}

.search{
  position: relative;
  height: 140px;
  margin: auto;
  width: 1190px;

  .logo{
    position: absolute;
    top: -31px;
    width: 190px;
    height: 170px;
    box-shadow: 0 -12px 10px rgba(0,0,0,.2);
    background-color: #fff;
    border-bottom: 1px solid #ededed;
  }

  #search-input{
    position: relative;
    height: 60px;

    form{
      position: absolute;
      left: 320px;
      top: 25px;
      width: 550px;
      height: 35px;

      input{
        position: absolute;
        left: 0;
        padding: 4px;
        width: 490px;
        height: 25px;
        border: 1px solid transparent;
        line-height: 25px;
        font-size: 14px;
        color: #989898;
        box-sizing: content-box;
        outline: none;
      }
    }
    #search-by-image{
      position: absolute;
      right: 65px;
      top: 10px;
      width: 19px;
      height: 15px;
      overflow: hidden;
    }

    #search{
      position: absolute;
      border-radius: 0;
      right: 0;
      width: 50px;
      height: 35px;
      line-height: 35px;
      border: none;
      background-color: #f10215;
      font-size: 20px;
      font-weight: 700;
      color: #fff;
    }
  }

  .carriage{
    position: absolute;
    right: 99px;
    top: 25px;
    width: 188px;
    height: 33px;
    background-color: #fff;
    text-align: center;
    line-height: 33px;
    border: 1px solid #e3e4e5;
  }

  .hotwords{
    //overflow: hidden;
    position: absolute;
    left: 320px;
    top: 65px;
    width: 550px;
    height: 20px;
    line-height: 20px;
    list-style-type: none;
    ul{
      margin: 0;
      padding: 0;
    }
    li{
      display: inline;
      margin-right: 6px;
    }
    a{
      font-size: 12px;
    }
  }

  .category{
    overflow: hidden;
    position: absolute;
    left: 200px;
    bottom: 0;
    width: 790px;
    height: 40px;
    padding-top: 20px;
    list-style-type: none;
    font-size: 14px;
    line-height: 40px;
    font-weight: 700;
    ul{
      margin: auto 0;
      padding: 0;
    }
    li{
      display: inline;
      margin: 0;
      margin-left: 26px;
      &:first-child{
        margin-left: 30px;
      }
    }
  }

  .cate-promo{
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 190px;
    height: 40px;
  }
}

#main-navi{
  float: left;
}

#category-navigation{
  background-color: #f0f3ef;
  float: left;
  margin-right: 10px;
  position: relative;
  width: 190px;

  ul{
    width: 190px;
    margin: 0 auto;
    padding: 15px 0;
    height: 450px;
    background: #fefefe;
    color: #636363;
    list-style-type: none;
  }
  li{
    *{
      margin-left: -4px;
    }

    a{
      transition: color 0.2s;
      &:hover{
        transition: color 0.2s;
      }
    }

    a:first-child{
      margin: 0;
    }
    overflow: hidden;
    padding-left: 18px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;

    &:hover{
      background: #d9d9d9;
    }
  }
  .catesplit{
    padding: 0 2px;
    font-size: 12px;
  }
}

#slideshow{
  width: 590px;
  float: left;
  height: 480px;
  margin-right: 10px;

  img{
    height: 470px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    float: left;
  }
}

#thumb{
  width: 190px;
  float: left;
  height: 480px;
  margin-right: 10px;
  font-size: 0;
  div{
    margin-top: 10px;
  }
}

#main-right{
  width: 190px;
  float: left;
  height: 480px;
  margin-top: 10px;
  background: #fefefe;
  position: relative;
}

#user{
  height: 160px;
}

#avatar{
  position: absolute;
  left: 50%;
  top: -10px;
  margin-left: -34px;
  width: 65px;
  height: 65px;

  a{
    position: absolute;
    left: -17px;
    top: -16px;
    width: 106px;
    height: 108px;
    background-image: url(../img/sprite.user.png);
    background-position: 0 0;
  }
  img{
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }
}

#user-info{
  position: relative;
  padding: 0 10px;
  padding-top: 70px;
  height: 75px;
  text-align: center;
  p{
    margin: 0;
    margin-bottom: 4px;
    overflow: hidden;
    line-height: 20px;
    width: 100%;
    white-space: nowrap;
  }
}

#user-btn{
  margin-top: 10px;
  height: 25px;
  font-size: 0;

  a{
    font-size: 12px;
  }
}

.user-info{
  display: inline-block;
  margin: 0 5px;
  width: 70px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  text-align: center;
  border-radius: 13px;
  color: #e43f3b;
  box-shadow: 4px 6px 12px 2px rgba(45,45,45,.15);
  transition: background .3s ease,color .3s ease;

  &:hover{
    background-color: #e01222;
    color: #fff;
  }
}
.plus{
  background: #363634;
  color: #e5d790;
}

#news{
  height: 150px;

  #news-cate{
    padding: 17px 0 0;
    position: relative;
    line-height: 14px;
    font-size: 0;

    .cate-item{
      font-size: 12px;
      color: #333;
      padding-right: 15px;
      padding-left: 15px;

      &:first-child {
        border-right: 1px solid #dfe0e1;
      }
    }

    .news-more{
      position: absolute;
      right: 12px;
      top: 18px;
      font-size: 12px;
    }
  }
}

.news-cont{
  position: relative;
  padding-top: 12px;
  margin: 0 15px;
  height: 88px;
  ul {
    padding: 0;
    margin: 0;
    line-height: 22px;
    max-width: 160px;
    _width: 160px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #999;
    list-style-type: none;
  }
}

#tools{
  height: 135px;
  overflow: hidden;
  padding: 10px 15px 15px;
  background: #fff;
  position: relative;

  .service-sep{
    position: absolute;
    top: 0;
    display: block;
    width: 160px;
    left: 15px;
    height: 1px;
    background: #ebeaea;
  }

  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

    li{
      position: relative;
      float: left;
      width: 40px;
      height: 45px;
      background: #fff;
      text-align: center;
    }

    p{
      width: 24px;
      height: 24px;
      margin: 16px auto;
    }

    a{
      display: none;
    }
  }
}

.icon-mobile {
  background-position: -145px -42px;
  background-image: url(../img/sprite.service.png);
}

.icon-airplane {
  background-position: -29px -42px;
  background-image: url(../img/sprite.service.png);
}

.icon-hotel {
  background-position: -174px -42px;
  background-image: url(../img/sprite.service.png);
}

.icon-game {
  background-position: -87px -42px;
  background-image: url(../img/sprite.service.png);
}