body{
  margin: 0 auto;
  max-width: 1190px;
  font-size: 12px;
  background: #f0f3ef;
}

a{
  color: #666;
  text-decoration: none;
  &:hover{
    color: #e33333;
  }
}

.nav-top {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #999;
  background: #e3e4e5;
  border-bottom: 1px solid #ddd;

  ul {
    display: inline-block;
    height: 30px;
    margin: auto 0;
    li {
      display: inline-block;
      padding-left: 7px;
      padding-right: 7px;
    }

    .nav-separator{
      overflow:hidden;
      margin: 10px 5px 0;
      width: 1px;
      height: 10px;
      background: #ccc;
      padding: 0;
    }
  }

  a{
    color: #999;
    &:hover{
      color: #e33333;
    }
  }

  .nav-register{
    color: #f10215;
  }
  .nav-location{
    margin-left: 200px;
  }
  .nav-user{
    float: right;
  }
}

.search{
  position: relative;
  height: 140px;
  margin: auto;
  width: 1190px;

  .logo{
    position: absolute;
    top: -31px;
    width: 190px;
    height: 170px;
    box-shadow: 0 -12px 10px rgba(0,0,0,.2);
    background-color: #fff;
    border-bottom: 1px solid #ededed;
  }

  #search-input{
    position: relative;
    height: 60px;

    form{
      position: absolute;
      left: 320px;
      top: 25px;
      width: 550px;
      height: 35px;

      input{
        position: absolute;
        left: 0;
        padding: 4px;
        width: 490px;
        height: 25px;
        border: 1px solid transparent;
        line-height: 25px;
        font-size: 14px;
        color: #989898;
        box-sizing: content-box;
        outline: none;
      }
    }
    #search-by-image{
      position: absolute;
      right: 65px;
      top: 10px;
      width: 19px;
      height: 15px;
      overflow: hidden;
    }

    #search{
      position: absolute;
      border-radius: 0;
      right: 0;
      width: 50px;
      height: 35px;
      line-height: 35px;
      border: none;
      background-color: #f10215;
      font-size: 20px;
      font-weight: 700;
      color: #fff;
    }
  }

  .carriage{
    position: absolute;
    right: 99px;
    top: 25px;
    width: 188px;
    height: 33px;
    background-color: #fff;
    text-align: center;
    line-height: 33px;
    border: 1px solid #e3e4e5;
  }

  .hotwords{
    //overflow: hidden;
    position: absolute;
    left: 320px;
    top: 65px;
    width: 550px;
    height: 20px;
    line-height: 20px;
    list-style-type: none;
    ul{
      margin: 0;
      padding: 0;
    }
    li{
      display: inline;
      margin-right: 6px;
    }
    a{
      font-size: 12px;
    }
  }

  .category{
    overflow: hidden;
    position: absolute;
    left: 200px;
    bottom: 0;
    width: 790px;
    height: 40px;
    padding-top: 20px;
    list-style-type: none;
    font-size: 14px;
    line-height: 40px;
    font-weight: 700;
    ul{
      margin: auto 0;
      padding: 0;
    }
    li{
      display: inline;
      margin: 0;
      margin-left: 26px;
      &:first-child{
        margin-left: 30px;
      }
    }
  }

  .cate-promo{
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 190px;
    height: 40px;
  }
}

#main-navi{
  //float: left;
  margin-bottom: 30px;
  height: 480px;
}

#category-navigation{
  background-color: #f0f3ef;
  float: left;
  margin-right: 10px;
  position: relative;
  width: 190px;

  ul{
    width: 190px;
    margin: 0 auto;
    padding: 15px 0;
    height: 450px;
    background: #fefefe;
    color: #636363;
    list-style-type: none;
  }
  li{
    *{
      margin-left: -4px;
    }

    a{
      transition: color 0.2s;
      &:hover{
        transition: color 0.2s;
      }
    }

    a:first-child{
      margin: 0;
    }
    overflow: hidden;
    padding-left: 18px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;

    &:hover{
      background: #d9d9d9;
    }
  }
  .catesplit{
    padding: 0 2px;
    font-size: 12px;
  }
}

#slideshow{
  width: 590px;
  float: left;
  height: 480px;
  margin-right: 10px;

  img{
    height: 470px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    float: left;
  }
}

#thumb{
  width: 190px;
  float: left;
  height: 480px;
  margin-right: 10px;
  font-size: 0;
  div{
    margin-top: 10px;
  }
}

#main-right{
  width: 190px;
  float: left;
  height: 470px;
  margin-top: 10px;
  background: #fefefe;
  position: relative;
}

#user{
  height: 160px;
}

#avatar{
  position: absolute;
  left: 50%;
  top: -10px;
  margin-left: -34px;
  width: 65px;
  height: 65px;

  a{
    position: absolute;
    left: -17px;
    top: -16px;
    width: 106px;
    height: 108px;
    background-image: url(../img/sprite.user.png);
    background-position: 0 0;
  }
  img{
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }
}

#user-info{
  position: relative;
  padding: 0 10px;
  padding-top: 70px;
  height: 75px;
  text-align: center;
  p{
    margin: 0;
    margin-bottom: 4px;
    overflow: hidden;
    line-height: 20px;
    width: 100%;
    white-space: nowrap;
  }
}

#user-btn{
  margin-top: 10px;
  height: 25px;
  font-size: 0;

  a{
    font-size: 12px;
  }
}

.user-info{
  display: inline-block;
  margin: 0 5px;
  width: 70px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  text-align: center;
  border-radius: 13px;
  color: #e43f3b;
  box-shadow: 4px 6px 12px 2px rgba(45,45,45,.15);
  transition: background .3s ease,color .3s ease;

  &:hover{
    background-color: #e01222;
    color: #fff;
  }
}
.plus{
  background: #363634;
  color: #e5d790;
}

#news{
  height: 150px;

  #news-cate{
    padding: 17px 0 0;
    position: relative;
    line-height: 14px;
    font-size: 0;

    .cate-item{
      font-size: 12px;
      color: #333;
      padding-right: 15px;
      padding-left: 15px;

      &:first-child {
        border-right: 1px solid #dfe0e1;
      }
    }

    .news-more{
      position: absolute;
      right: 12px;
      top: 18px;
      font-size: 12px;
    }
  }
}

.news-cont{
  position: relative;
  padding-top: 12px;
  margin: 0 15px;
  height: 88px;
  ul {
    padding: 0;
    margin: 0;
    line-height: 22px;
    max-width: 160px;
    _width: 160px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #999;
    list-style-type: none;
  }
}

#tools{
  height: 135px;
  overflow: hidden;
  padding: 10px 15px 15px;
  background: #fff;
  position: relative;

  .service-sep{
    position: absolute;
    top: 0;
    display: block;
    width: 160px;
    left: 15px;
    height: 1px;
    background: #ebeaea;
  }

  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

    li{
      position: relative;
      float: left;
      width: 40px;
      height: 45px;
      background: #fff;
      text-align: center;
    }

    p{
      width: 24px;
      height: 24px;
      margin: 16px auto;
    }

    a{
      display: none;
    }
  }
}

.icon-mobile {
  background-position: -145px -42px;
  background-image: url(../img/sprite.service.png);
}

.icon-airplane {
  background-position: -29px -42px;
  background-image: url(../img/sprite.service.png);
}

.icon-hotel {
  background-position: -174px -42px;
  background-image: url(../img/sprite.service.png);
}

.icon-game {
  background-position: -87px -42px;
  background-image: url(../img/sprite.service.png);
}

#flashdeal{
  height: 275px;
  margin-bottom: 30px;
}

#flashdeal-title{
  position: relative;
  float: left;
  width: 190px;
  height: 275px;
  background: #e83632;
  color: #fff;

  p{
    margin: 0;
  }

  .fd-title{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 42px;
    font-size: 34px;
  }

  .fd-etitle{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 90px;
    color: #FFFFFF7F;
    font-size: 20px;
  }

  .icon-flash{
    position: absolute;
    left: 86px;
    top: 126px;
    display: block;
    width: 20px;
    height: 33px;
    background-image: url(../img/sprite.seckill.png);
    background-position: -35px -25px;
  }

  .fd-countdown{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 170px;
    font-size: 16px;
  }
}

#flashdeal-counter{
  position: absolute;
  top: 212px;
  left: 30px;
  height: 40px;

  .counter-divide{
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    height: 1px;
    background: #e83632;
    z-index: 1;
  }

  .counter{
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #2f3430;
    margin-right: 5px;

    .counter-number{
      position: relative;
      line-height: 40px;
      font-weight: bold;
      font-size: 20px;
      z-index: 2;
    }
  }
}

.flashdeal-wrapper{
  float: left;
  position: relative;
  width: 799px;
  border-right: solid 1px #f0f0f0;
  height: 275px;
  overflow: hidden;
  background-color: #fff;
}

.flashdeal-rightslide{
  position: relative;
  float: left;
  width: 180px;
  height: 260px;
  padding: 8px 10px 7px;
  background-color: #fff;
}

#newyear{
  margin-bottom: 30px;
  position: relative;
  height: 600px;
  width: 100%;

  .ny-bg{
    background: right top no-repeat;
    background-image: url(../img/ny_bg.png);
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
    width: 1600px;
    height: 600px;
    outline: 0;
    margin-right: -40px;
    z-index: -1;
  }

  .ny-link{
    position: relative;
    float: left;
    width: 235px;
    height: 600px;
  }
}

#newyear-head{
  position: relative;
  margin-left: 235px;
  padding-top: 80px;
  width: 1000px;

  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li{
    display: inline;
    margin: 0 12px 10px 0;
  }

  img{
    width: 226px;
    height: 176px;
  }
}

#newyear-sub{
  position: relative;
  margin-left: 235px;
  padding-top: 10px;
  width: 1000px;

  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li{
    float: left;
    width: 180px;
    height: 140px;
    margin: 0 10px 8px 0;
    border-radius: 8px;
    overflow: hidden;
  }

  img{
    width: 180px;
    height: 140px;
  }
}

#floor{
  width: 1190px;
  margin: 0;
  height: 960px;

  .column{
    background: #fff;
    float: left;
    width: 390px;
    height: 450px;
    margin: 0 10px 30px 0;

    &:last-child{
      margin: 0 0 30px 0;
    }

    .column-title-wrapper{
      height: 60px;
      padding: 0 20px;
      font-size: 0;
      line-height: 0;

      a{
        display: inline-block;
        position: relative;
        height: 40px;
        margin: 8px 0 0 0;

        .column-title{
          float: left;
          font-weight: normal;
          font-size: 22px;
          color: #222;
          line-height: 44px;
        }

        .icon-goto{
          background-position: 0 0;
          background-image: url(../img/column-icon.png);
          float: left;
          position: relative;
          width: 23px;
          height: 23px;
          top: 11px;
          left: 4px;
        }

        .column-subtitle{
          float: left;
          font-size: 14px;
          color: #999;
          height: 20px;
          line-height: 20px;
          margin: 12px 0 0 10px;
        }
      }
    }
  }
}

#promo1{
  height: 480px;
  margin: 0 auto;
}

#footer-desc{
  padding: 30px 0;
  border-bottom: 1px solid #DEDEDE;
  margin: 0 auto;
  width: 1190px;
  height: 42px;

  .desc-column{
    float: left;
    width: 297px;
    height: 42px;

    .desc-wrapper{
      width: 180px;
      margin: 0 auto;
      padding-left: 45px;
      position: relative;
    }

    .icon-ftd{
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      width: 36px;
      height: 42px;
      background-image: url(../img/footer-character.png);
    }

    .icon-ftd1{
      background-position: 0 0;
    }

    .icon-ftd2{
      background-position: 0 -43px;
    }

    .icon-ftd3{
      background-position: 0 -86px;
    }

    .icon-ftd4{
      background-position: 0 -129px;
    }

    .desc-text{
      overflow: hidden;
      width: 100%;
      height: 42px;
      line-height: 42px;
      font-size: 18px;
      font-weight: 700;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #444
    }
  }
}

#footer-link{
  padding: 20px 0;
  margin: 0 auto;
  height: 160px;

  .footer-link{
    float: left;
    width: 198px;
    line-height: 22px;

    .footer-link-title{
      display: block;
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: bold;
    }

    .footer-link-main{

      ul {
        li {
          list-style-type: none;
        }
        margin: 0;
        padding: 0;
      }
    }
  }

  .footer-link-area{
    float: right;
    width: 200px;
    height: 150px;
    background: url(../img/ico_footer.png) no-repeat 0 0;

    .footer-area-title{
      margin-bottom: 15px;
      font-size: 14px;
      text-align: center;
      display: block;
      font-weight: bold;
    }
    p{
      margin: 0;
      padding: 0;
    }
    .footer-area-main{
      padding: 0 10px;
    }

    .footer-area-link{
      text-align: right;
    }
  }
}

#footer-about{
  padding: 15px 0 0 0;
  border-top: 1px solid #E1E1E1;
  text-align: center;

  ul{
    margin: 0;
    padding: 0;
    font-size: 0;

    li{
      list-style-type: none;
      display: inline;
      font-size: 12px;

      &:after{
        content: '|';
        margin: 0 10px;
        color: #CCC;
      }

      &:last-child{
        &:after{
          content: '';
          margin: 0;
        }
      }
    }
  }
}

#footer-copyright{
  padding: 10px 0;
  line-height: 22px;
  color: #999;
  text-align: center;

  p{
    margin: 0;
    padding: 0;
    //font-size: 0;

    span{
      font-size: 12px;

      &:after{
        content: '|';
        margin: 0 10px;
        color: #CCC;
      }

      &:last-child{
        &:after{
          content: '';
          margin: 0;
        }
      }
    }
  }
}

